PORT=

MONGODB_URI=

# firebase
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=

GOOGLE_APPLICATION_CREDENTIALS=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# cloudinary 
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=

# Giao hàng nhanh
GHN_TOKEN=
GHN_URL=
GHN_URL_SHIP=
GHN_SHOP_ID=
GHN_API_URL=

# casso
CASSO_WEBHOOK_SECRET=